@page
@model EditModel
@{
    ViewData["Title"] = "Edit";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Circuit.Name</h3>

<p>Use this area to provide additional information.</p>

<h1 class="circuit-name" data-circuit-id="@Model.Circuit.Id" >@Model.Circuit.Name</h1>
<h2><input data-circuit-id="@Model.Circuit.Id" class="circuit-name" type="text" value="@Model.Circuit.Name" /></h2>
<h2><input style="font-size:14pt;width:100%;" data-circuit-id="@Model.Circuit.Id" 
class="circuit-checkpoints" type="text" value="@Model.Circuit.Checkpoints" /></h2>
<h1 class="circuit-checkpoints" data-circuit-id="@Model.Circuit.Id">@Model.Circuit.Checkpoints</h1>

<hr />

<a class="btn btn-default" href="/circuits">Back</a>

<div class="jumbotron circuit-preview" >
  <canvas data-circuit-id="@Model.Circuit.Id" style="border:solid 1px gray;"
    class="circuit-preview" 
    id="circuit-preview-@Model.Circuit.Id" 
    width="600" height="400" 
    data-scale="2"
    data-checkpoints="@Model.Circuit.Checkpoints"></canvas>

</div>


        <div class="row">
            <div class="col-md-12">
                <canvas data-circuit-id="@Model.Circuit.Id" id="circuit" width="150" height="100" style="border:solid 1px white;"></canvas>
                <canvas data-circuit-id="@Model.Circuit.Id" id="preview" width="150" height="100" style="border:solid 1px white;"></canvas>
                <svg data-circuit-id="@Model.Circuit.Id" id="preview" width="150" height="100" xmlns="http://www.w3c.org.200/svg" style="border:solid 1px white;">
                    <circle id="circle1" cx="25" cy="75" r="5" stroke="#00ff00" fill="#fff" stroke-width="2" style="opacity: 0.8;" />
                </svg>
                <div data-circuit-id="@Model.Circuit.Id" id="hits" width="600" height="50" style="border:solid 1px white;">#hits</div>
                <canvas data-circuit-id="@Model.Circuit.Id" id="plotter" width="600" height="400" style="border:solid 1px white;"></canvas>
            </div>
        </div>
